{
    "singleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 80,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "jsxSingleQuote": true,
    "jsxBracketSameLine": false,
    "requirePragma": false,
    "insertPragma": false
}
